  <div ng-include="'nav/_workoutNav.html'"></div>
  <ui-view></ui-view>  

  <div ng-repeat="workout in workouts">
    <ul>
      <li><!-- <a ng-show="workout.title" ng-href="#/workouts/{{workout.id}}" value="{{workout}}">{{ workout.title }}</a> -->
      <a ui-sref="workouts.show({ id: workout.id })">{{workout.title}}</a>
      <i class="material-icons" ng-click="destroy(workout)">delete</i></li>
    </ul>
  </div>
<!--     <button type="button" ng-click="addExercise()" ng-model='exercise'>Add another choice</button> -->









